.cardsDiv {
  display: grid;
  grid-column-gap: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  perspective: 2000px;
}

.card {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin: auto;
  height: 100px;
  overflow: auto;
  width: 100%;
  padding: 2px;
  display: grid;
  background-color: #eeeeee;
}

.invisible {
  display: none;
}

.clicked {
  background-color: #86BFE4;
}

.card:hover {
  background-color: #86BFE4;
}