.cardsDiv {
  display: grid;
  grid-column-gap: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  perspective: 2000px;
}

.card {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin: auto;
  height: 100px;
  overflow: auto;
  width: 100%;
  padding: 2px;
  display: grid;
  background-color: #eeeeee;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.clicked {
  transform: rotateX(180deg);
  background-color: #7fe0f8;
}

.back-card {
  transform: rotateX(180deg);
}

.card:hover {
  background-color: #7fe0f8;
}